

body {
    background-color: #ddd !important;
}
.clr-somegrey {
    color: #666 !important;
}


.main-bg {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: -10;
    /* 1. Atur URL gambar background */
    background-image: url('./img/hp-bg.png');
    
    /* 2. Properti pelengkap (Sangat Penting!) */
    
    /* Agar gambar tidak berulang */
    background-repeat: no-repeat; 
    
    /* Agar gambar menutupi seluruh area body */
    background-size: cover; 
    
    /* Agar gambar tetap di tempatnya saat halaman di-scroll */
    background-attachment: fixed;
}
#main-bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -2;
}
#tree-bg {
    position: absolute;
    top: calc(100%);
    left: 50%;
    transform: translate(-50%, calc(-100% + 60px));
    width: 100%;
    max-width: 800px;
}

.glass {
    backdrop-filter: blur(5px);
    background: linear-gradient(45deg, white, #ffffff10);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    border: 2px solid rgba(255, 255, 255, 0.9);
    padding: 20px;
    width: 100%;
    max-width: 350px;
    height: fit-content;
    margin: auto;

}

#logos {
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
}
#front-logo {
    width: 40px;
}
#ambon-logo {
    width: 20px;
}

#h2-1 {
    font-size: 27.5px;
}
#bidang-text {
    font-size: 16.5px;
}


#login-google {
    -mix-blend-mode: screen !important;
}
.nsm7Bb-HzV7m-LgbsSe-MJoBVe {
    -mix-blend-mode: screen !important;
}

#main {
    margin: auto;
    backdrop-filter: blur(2px);
    height: fit-content;
}
#form {
    max-width: 500px;
    margin: auto;
}

#to-data {
}

.form-group {
   border: 1.3px solid rgba(143, 143, 143, .6) !important;
   border-top: 3px solid rgb(58, 120, 76) !important;
   margin-bottom: 15px;
   background: linear-gradient(45deg, white, transparent);
   backdrop-filter: blur(10px);
}
.form-group input, textarea {
    border: none !important;
    border-bottom: 1.3px solid rgb(0, 167, 11) !important;
    border-radius: 0 !important;
    background-color:  transparent;
    outline: none !important;
    color: #003204 !important;
}
.form-group input[type="text"] {
    padding: 10px !important;
    font-size: 17px !important;
    background-color: transparent !important;
}
select {
    background: transparent;
}
.ask-label {
    color: #444;
    border-bottom:  dotted 1.3px grey;
    padding-bottom: 3px;
    font-size: 14px;
    margin-bottom: 6px !important;
}
.radio-inline {
    display: flex;
    align-items: flex-start;
    width: calc(50% - 5px);
    font-size: 13px;
    gap: 10px;
}
.radio-inline.radio2 {
    width: clamp(150px, 100%, 250px);
}

.radio-inline:has(input[type="radio"]:checked), .radio-inline:has(input[type="checkbox"]:checked) {
    color: rgb(3, 209, 58);
    font-weight: bold;
}
/* Mengatur ulang penampilan bawaan */
input[type="radio"], input[type="checkbox"] {
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-appearance: none; /* Untuk Chrome/Safari */
    -moz-appearance: none;    /* Untuk Firefox */
    appearance: none;

    /* Sekarang Anda bisa menentukan ukuran fisik */
    width: 8px; 
    height: 8px;
    
    /* Membuat tampilan lingkaran */
    outline: 2px solid #666 !important;
    outline-offset: 2px !important;
    border-radius: 50%;     /* Bentuk lingkaran */
    border: none !important;
        background-color: #fff; /* Warna isi saat tidak terpilih */
        cursor: pointer;        /* Mengubah kursor saat hover */
    }
/* Mengatur tampilan titik saat terpilih */
input[type="radio"]:checked, input[type="checkbox"]:checked {
    background-color: rgb(1, 216, 66);
    scale: 1.2;
    outline-color: rgb(0, 115, 29) !important; /* Warna isi saat terpilih */
}

input::placeholder, textarea::placeholder {
    color: rgb(128, 128, 128) !important;
    font-weight: normal !important;
    font-size: 14px !important;
}

#loader-koordinat {
    backdrop-filter: blur(2px);
    top: 0;
    left: 0;
}



.photo {
    width: 100%;
    height: 200px;
    border: 2px dashed grey;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
}
.photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.photo span {
    position: absolute;
    bottom: 4px;
    left: 4px;
    width: calc(100% - 8px);
    backdrop-filter: blur(5px);
    background-color: lightgrey;
    border-radius: 0 0 3px 3px;
}


.capture-tabs button {
    width: 50px;
    aspect-ratio: 1 !important;
    border-radius: 1000000px !important;
    font-size: 16px;
    border: 2px solid white !important;
}
.capture-tabs button:nth-child(2) {scale: 1.2;}

#video {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
}
#video-box {
    border: 2px solid white;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 10px rgba(0,0,0,.1);
}
#camera-error {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 0, 0, 0.8);
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 14px;
    z-index: 1000;
}

#image-photo {
    position: absolute;
    object-position: center;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#sppl {
    background-color: #e0f1ff;
    height: fit-content;
}

.sppl-group {
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    border: 1.3px solid rgba(0,0,0,.3);
    box-shadow: inset 0 2px 10px rgba(0,0,0,.1);
    margin-bottom: 10px;
}
.sppl-group p {
    font-size: 12px;
    text-align: justify;
}


.pop-up {
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(1px);
    z-index: 10000;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
}

.fetch-group {
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    margin-bottom: 10px;
    border: 2px solid grey;
}
.fetch-button span {
    display: block;
    width: 100%;
    text-align: center;
    padding: 4px;
    border-radius: 4px;
}


#verify-data {
    width: 100%;
    max-width: 350px;
    margin: auto;
    padding: 20px;
}
#verify-data i {
    width: 85px;
    height: 85px;
    display: grid;
    place-items: center;
    border-radius: 15px;
    font-size: 40px;
    margin: auto;
}   

#verify-data h4 {
    padding: 15px 0 0;
    width: calc(100%);
    border-radius: 10px;
    font-size: 22px;
    text-align: center;
    margin: 0;
}

#verify-data h4.denied {
    color: red;
}
#verify-data h4.granted {
    color: rgb(17, 122, 17);
}

#verify-btn span {
    padding: 7px;
    font-weight: bolder;
    border-radius: 5px;

}

i.red {
    position: relative;
    display: grid;
    place-items: center;
    overflow: hidden;
}
i.slash::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 100%;
    background: linear-gradient(90deg, red, darkred);
    border-top: 4px solid white;
    rotate: -45deg;
}


i.green {
    position: relative;
    display: grid;
    place-items: center;
    overflow: hidden;
    outline: 3px solid limegreen;
}